<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touceng.finance.mapper.ChargeWalletMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.touceng.domain.entity.finance.ChargeWallet">
	<result column="ID" property="id" />
		<result column="INCOME" property="income" />
		<result column="OUTCOME" property="outcome" />
		<result column="BALANCE" property="balance" />
		<result column="CHANNEL_ACCOUNT_NO" property="channelAccountNo" />
		<result column="ACCOUNT_NO" property="accountNo" />
		<result column="CURRENCY" property="currency" />
		<result column="STATUS" property="status" />
		<result column="VERSION" property="version" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>

	<select id="pageChargeWallet" resultMap="BaseResultMap" parameterType="com.touceng.domain.dto.query.ListPageDTO">

		select ID,OUTCOME,BALANCE,INCOME,CHANNEL_ACCOUNT_NO,ACCOUNT_NO,CURRENCY,STATUS,CREATE_TIME,UPDATE_TIME from tc_charge_wallet
		<where>
			<if test="status!=null ">
				and STATUS=#{status}
			</if>
			<if test="code != null and code != ''">
				and CHANNEL_ACCOUNT_NO=#{code}
			</if>
		</where>
	</select>


</mapper>
